body {
    background-size: cover;
    background-attachment: fixed;
}
html,body,div#root {
    height:auto !important;
}
div.card {
    background:#fffe;
}
.login {
    border-radius: 0;
}
.login input, .login button {
    font-size: 1.9em;
}
.login button {
    width: 100%;
    background: #325778;
    margin-top: 5px;
    border-radius: 0;
    margin-bottom: 10px;
}

h1 {
    background:#375679;
    color:White;
    padding:20px 20px !important;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 2.4em !important;
}
.card {
}
.form {
    padding:10px 20px;
}

@media (max-width:992px) {
    body {
        background:white !important;
    }
    input,button {
        font-size:1.2em !important;
    }
    h1 {
        padding:.4em !important;
        margin-bottom: .6em !important;
        text-align: center;
    }
    button {
        width: 100%;
        text-align: center;
        display: block;
    }
    .p-col-12.p-lg-6 {
        padding: 0 !important;
        margin-top:0 !important;
    } 
    .p-col-12.p-lg-6 .card {
        border-radius: 0 !important;
        box-shadow: none !important;
    }
}
.header-actions {
    margin-top:-107px !important;
}
.header-actions .p-button {
    padding:21px 10px;
    font-size:20px;
    background:#0003;
    border:none;
    border-radius:0;
    text-transform:uppercase;
}
